<%- include("includes/head.ejs") %>

    <body>
        <h1>this page belong to: @<%=data.name %>
                <button>Follow</button>
                <button>message</button>
                <p>Followers: <%=data.followers %> &nbsp; &nbsp;&nbsp; Following: <%= data.following %>
                            <hr>
                            <% for(p of data.posts){ %>
                                <img src="<%= p.image %>" alt="cannt find">
                                <p>likes: <%=p.likes %> &nbsp; &nbsp; comment: <%= p.comments %>

                                            <hr>
                                            <% } %>

                                                <%- include("includes/footer.ejs") %>

    </body>

    </html>